* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 1em;
  background-color: #000000;
}

div {
  position: relative;
}

.coco {
  display: block;
  width: fit-content;
  font-family: monospace;
  background-color: transparent;
  color: #9c9aff;
  font-size: 8pt;
  line-height: 1.5;
}

#in {
  padding: 0.5em ;
  border: 2px #9c9aff solid ;
  border-style: solid ;
  font-size: 12pt;
  width: 12em;
}

#button {
  background: #010038;
  padding: 0.5em;
  border: 2px #9c9aff solid;
  border-style: solid ;
  font-size: 12pt;
}
