* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 20ox;
  background-color: #000000;
  font-family: monospace;
  color: #9c9aff;
  font-size: 8pt;
}

div {
  width: fit-cobtent;
  /*display: inkine-block;*/
  position: relative;
  font-family: monospace;
  color: #9c9aff;
  font-size: 8pt;
}

p {
  display: inkine-block;
  font-family: monospace;
  color: #9c9aff;
  font-size: 8pt;
}
  
h2 {
  font-family: monospace;
  color: #9c9aff;
  font-size: 12pt;
}
  
.coco {
  display: inkine-block;
  display: inkine-block;
  font-family: monospace;
  background-color: transparent;
  color: #9c9aff;
  font-size: 8pt;
  line-height: 1.5;
}

#in {
  padding: 0.5em ;
  border: 2px #9c9aff solid ;
  border-style: solid ;
  font-size: 12pt;
  width: 12em;
}

#button {
  background: #010038;
  padding: 0.5em;
  border: 2px #9c9aff solid;
  border-style: solid ;
  font-size: 12pt;
}
